@keyframes ripples {
  0% {
    opacity: .2;
    transform: scale(1);
  }

  40% {
    opacity: .3;
    transform: scale(1.4);
  }

  60% {
    opacity: .2;
    transform: scale(1.6);
  }

  80% {
    opacity: .1;
    transform: scale(1.8);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }

}

.animation-wrapper {
  background-position: 0 0;
  border-radius: 50%;
  position: relative;

  .circle {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  .animation-ripples {
    animation: ripples 2s linear infinite;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    opacity: .1;
    position: absolute;
    z-index: -1;
  }
}
